#!/bin/sh
#
logger -st "($(basename $0))" $$ "*--------- SWAP_DISABLE SERVICE ---------*"
#
########## DISABLE SWAPFILE ##########
#
# Check if /tmp/mnt/ASUS_ROUTER/script_bootloader/var/swapfile exists
# 检查/tmp/mnt/ASUS_ROUTER/script_bootloader/var/swapfile是否存在
if [ -e "/tmp/mnt/ASUS_ROUTER/script_bootloader/var/swapfile" ]
then
    logger -st "($(basename $0))" $$ "***** SWAPFILE EXISTS *****"
    # Unload swapfile
    # 如果/tmp/mnt/ASUS_ROUTER/script_bootloader/var/swapfile存在，则禁用
    swapoff /tmp/mnt/ASUS_ROUTER/script_bootloader/var/swapfile
    logger -st "($(basename $0))" $$ "***** SWAPFILE HAS BEEN UNLOADED *****"
fi
#
########## END ##########