#!/bin/sh
#
logger -st "($(basename $0))" $$ "*--------- SOFTWARE SERVICE ---------*"
#
########## CHECK AND ENABLE SOFTWARE ##########
#
# Check if the software exists
# 检查所需外部程序是否存在（本例中，外部程序为/tmp/mnt/sda1/script_bootloader/usr/software/software）（使用时，删除下列所有行行首的#）
#if [ -e "/tmp/mnt/sda1/script_bootloader/usr/software/software" ]
#then
#    logger -st "($(basename $0))" $$ "***** SOFTWARE EXISTS *****"
#    # Load the defined external program
#    # 如果外部程序存在，则执行该程序
#    /tmp/mnt/sda1/script_bootloader/usr/software/software
#    logger -st "($(basename $0))" $$ "***** SOFTWARE SERVICE HAS BEEN LOADED *****"
#    #
#else
#    # Stop and Exit
#    # 如果外部程序不存在，则该脚本终止
#    logger -st "($(basename $0))" $$ "***** UNABLE TO LOCATE SOFTWARE *****"
#    logger -st "($(basename $0))" $$ "***** EXIT *****"
#    exit 1
#fi
#
########## END ##########